* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#app{
  min-height: 90%;
}
body {
  background-image: url("./images/Scooter.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: rgb(24, 23, 23);
}

  footer, .nav__header
  {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: deepskyblue;
  }
img{
  width: 200px;
  height: 200px;
}

.objectGrid{

  display: grid;
  grid-template-columns: auto auto auto;

  justify-items: center;
  /* grid-gap: 1rem; */

}
.objectItem {
  display: grid;
  justify-items: center;
  max-width:  220px;
  max-block-size: auto;
  background-color: dimgray;
  
  padding: 10px;
  margin: 2px;
  border-radius: 2rem;


}

  /* h3
  { */
    /* display: grid; */
    /* justify-content: center;
  }
   */
  .add-album, .add-artist, .add-song
  {
    background-color: dimgray;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
  }
  
